
body {
	margin:0;
	padding:40px;
	background:#fff;
	font:80% Arial, Helvetica, sans-serif;
	color:#555;
	line-height:180%;
}

h1{
	font-size:180%;
	font-weight:normal;
	color:#555;
}

.error{
   	position: relative;
	float: left;
   	width: 100%;
	font-weight:bold;
	color: #C00
}

#logout{
   position: relative;
   float: left;
   left: 20%;
}

#image{
   position: relative;
   float: right;
   width: 20%;
   right: 20%;
}

#wrapper{
   position: relative;
   float: left;
   left: 0px;
   width: 100%;
   background-color: #fff
}

#header{
   position: relative;
   float: left;
   left: 0px;
   width: 100%;
}

#footer{
   position: relative;
   float: left;
   left: 0px;
   width: 100%;
}
