
body {
	margin:0;
	padding:40px;
	background:#fff;
	font:80% Arial, Helvetica, sans-serif;
	color:#555;
	line-height:180%;
}

h1{
	font-size:180%;
	font-weight:normal;
	color:#555;
}

.progressBar{
	width:216px;
	height:41px;
	background:url(../images/bg_bar.gif) no-repeat 0 0;
	position:relative;
}

.progressBar span{
	position:absolute;
	display:block;
	width:200px;
	height:25px;
	background:url(../images/bar.gif) no-repeat 0 0;
	top:8px;
	left:8px;
	overflow:hidden;
	text-indent:-8000px;
}

.progressBar em{
	position:absolute;
	display:block;
	width:200px;
	height:25px;
	background:url(../images/bg_cover.gif) repeat-x 0 0;
	top:0;


}

.error{
	font-weight:bold;
	color: #C00
}

#wrapper_options{
   position: relative;
   float: right;
   left: 0%;
   width: 100%;
   background-color: #fff
}

#options{
   font:100% Arial, Helvetica, sans-serif;
   position: relative;
   float: right;
   left: 0%;
   background-color: #fff
}

#pic{
   position: relative;
   float: left;
   left: 0px;
   width: 100%;
   background-color: #fff
}

#livesearch, #livesearch div{
  width: 260px;    
  margin-left: 0px;
}

#wrapper_up{
   position: relative;
   float: left;
   left: 0px;
   width: 100%;
   background-color: #fff
}

#wrapper_down{
   position: relative;
   float: left;
   left: 0px;
   width: 100%;
   background-color: #fff
}

#infos{
   margin:10px;
   padding:0px;
   position: relative;
   float: left;
   left: 0px;
   width: 600px;
   background-color: #fff
}

#map{
   margin:10px;
   padding:0px;
   position: relative;
   float: left;
   left: 0px;
   width: 30%;
   background-color: #fff
}

#header{
   position: relative;
   float: left;
   left: 0px;
   width: 100%;
}

#footer{
   position: relative;
   float: left;
   left: 0px;
   width: 100%;
}
